<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
    <title>about</title>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #8A0808;
}

li {
    text-align: left;
}

table, th, td {
    border: 7px solid #333;
    border-collapse: collapse;
}

</style>
</head>
<body>

<ul>
  <li><a class="active" href="#63342/project-air/templates/index.html?_ijt=5v19fqn8rn8ho505a0hm5lcn0g">Home</a></li>
  <li><a href="http://localhost:63342/project-air/templates/covid.html?_ijt=dgi15lmtfvcnncho8fa6r2di7c#">COVID</a></li>
  <li><a href="http://localhost:63342/project-air/templates/data.html?_ijt=gu1qj8fhnefrjv4d9hi8a7err3">Data</a></li>
  <li><a href="http://localhost:63342/project-air/templates/aboutus.html?_ijt=o8u66erc6sbnvfc5qp3ogc25l4">About</a></li>
</ul>

<h1>Meet the team</h1>

    <table style="width:100%">
        <tc>
            <th><img src="http://nia.ecsu.edu/sgci/sgci_ci/ci2020/images/students/santiago.jpg" alt="Hector"</th>
                <p>Hector Santiago</p>
                <article>I am a rising Senior at Winston-Salem State University majoring in Computer Science.
                    I look forward to also achieving my Master of Computer Science at Winston-Salem State University
                    and obtaining a job as a Software Engineer working with Java or Python. I hope to continue gaining
                    knowledge and experience through school, work and internships. I am looking forward to implementing
                    the knowledge gained from those areas in the future for a company. </article>
            <th><img src="http://nia.ecsu.edu/sgci/sgci_ci/ci2020/images/students/lamb.jpg"alt="Daniel" </th>
                <p>Daniel Lamb</p>
                <article>I am an incoming freshman at Elizabeth City State University. I am majoring in computer
                    science. I was introduced and began training in programs such as Unix shell, Python, GitHub and
                    Hubzero from the SGCI program through ECSU. This year I will be participating in the Center of
                    Excellence in Remote Sensing Education and Research (CERSER) program at my school. </article>
            <th><img src="http://nia.ecsu.edu/sgci/sgci_ci/ci2020/images/students/brownridge.jpg" alt="Zyquier" </th>
            <p>Zyquier Brownridge</p>
                <article>I am Zyquier Brownridge and I am very interested in developing a career in cybersecurity.
                I am willing to start from the bottom and learn all the little details I need to become one of
                the best in the field. Also, I would like to be one of the top analysts in charge of a team
                that gets the job done. I am infatuated by what cybersecurity analysists do; it's just something
                I know I'll love. Eductaion:3.0 student at Winston-Salem State University</article>
            <th><img src="http://nia.ecsu.edu/sgci/sgci_ci/ci2020/images/students/alston.jpg" alt="Brianna" </th>
            <p>Brianna Alston</p>
                <article>I am a rising junior at Mississippi Valley State University. I am currently studying
                mathematics and criminal justice. I also have technical knowledge from being apart of the SGCI coding
                institute where I have been learning and practicing on html, python, and unix shells. I am always
                looking for ways to increase my knowledge in the different areas of computer science in order to shape
                myself for whatever career I choose to go into.</article>
        </tc>
    </table>
<h1>About our Project</h1>
<p><a href="https://docs.google.com/presentation/d/1AkuV8_tF1kpsFqHBnbuuvz8jDTLrSgh3xy_aG4lyjXw/edit#slide=id.p">
      <img src="file:///Users/briannaalston/Desktop/CovidNapkin.png"
      alt="napkin"></a></p>
<p>We provide the death rate of COVID-19 and allow users to upload a csv file with cases and deaths of other known viruses
to show the similarities or differences of the death rates. The comparisons
will also reveal which direction the COVID-19 death rates are moving,
from the comparisons the user will gain insight on the death rate of COVID compared to other viruses, pandemics, or epidemics
which will in turn, give the user insight on preparing for the next steps. </p>

</body>
</html>