<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
    <title>about</title>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #8A0808;
}

li {
    text-align: left;
}

</style>
</head>
<body>

<ul>
  <li><a class="active" href="#63342/project-air/templates/index.html?_ijt=5v19fqn8rn8ho505a0hm5lcn0g">Home</a></li>
  <li><a href="http://localhost:63342/project-air/templates/covid.html?_ijt=dgi15lmtfvcnncho8fa6r2di7c#">COVID</a></li>
  <li><a href="http://localhost:63342/project-air/templates/data.html?_ijt=gu1qj8fhnefrjv4d9hi8a7err3">Data</a></li>
  <li><a href="#about">About</a></li>
</ul>

<h1>Meet the team</h1>

    <table style="width:100%">
        <tc>
            <th><img src="http://nia.ecsu.edu/sgci/sgci_ci/ci2020/images/students/santiago.jpg" alt="Hector"</th>
                <p>Hector Santiago</p>
                <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis. </article>
            <th><img src="http://nia.ecsu.edu/sgci/sgci_ci/ci2020/images/students/lamb.jpg"alt="Daniel" </th>
                <p>Daniel Lamb</p>
                <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</article>
            <th><img src="http://nia.ecsu.edu/sgci/sgci_ci/ci2020/images/students/brownridge.jpg" alt="Zyquier" </th>
            <p>Zyquier Brownridge</p>
                <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</article>
            <th><img src="http://nia.ecsu.edu/sgci/sgci_ci/ci2020/images/students/alston.jpg" alt="Brianna" </th>
            <p>Brianna Alston</p>
                <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</article>
        </tc>
    </table>

</body>
</html>