<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>


<ul>
  <li><a class="active" href="#63342/project-air/templates/index.html?_ijt=5v19fqn8rn8ho505a0hm5lcn0g">Home</a></li>
  <li><a href="http://localhost:63342/project-air/templates/covid.html?_ijt=dgi15lmtfvcnncho8fa6r2di7c#">covid</a></li>
  <li><a href="http://localhost:63342/project-air/templates/data.html?_ijt=gu1qj8fhnefrjv4d9hi8a7err3">Data</a></li>
  <li><a href="#about">About</a></li>
</ul>

<h2>Upload your file of Data</h2>

<p>Click on the "Choose File" button to upload a file:</p>

<form action="/action_page.php">
  <input type="file" id="myFile" name="filename">
  <input type="submit">
</form>

<script>
function myFunction() {
  var x, text;

  // Get the value of the input field with id="numb"
  x = document.getElementById("numb").value;

  // If x is Not a Number or less than one or greater than 10
  if (isNaN(x) || x < 1 || x > 10) {
    text = "Input not valid";
  } else {
    text = "Input OK";
  }
  document.getElementById("demo").innerHTML = text;
}
</script>

</body>
</html>
