<!DOCTYPE html>
<html>
<head>
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>


<ul>
  <li><a class="active" href="http://localhost:5001/">Home</a></li>
  <li><a href="http://localhost:5001/covid">COVID</a></li>
  <li><a href="http://localhost:5001/upload">Data</a></li>
  <li><a href="http://localhost:5001/about">About</a></li>
</ul>

<h2>Upload your file of Data</h2>
<p>Click on the "Choose File" button to upload a file:</p>

<form action= "http://localhost:5001/uploader" method = "POST"
         enctype = "multipart/form-data">
  <input type = "file" name = "file" />
  <input type = "submit"/>
</form>

<script>
function myFunction() {
  var x, text;

  // Get the value of the input field with id="numb"
  x = document.getElementById("numb").value;

  // If x is Not a Number or less than one or greater than 10
  if (isNaN(x) || x < 1 || x > 10) {
    text = "Input not valid";
  } else {
    text = "Input OK";
  }
  document.getElementById("demo").innerHTML = text;
}
</script>
<div class="footer">
  <p>If you have any questions or concerns contact us</p>
</div>
</body>
</html>
