<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SGCI - Covid Research</title>
</head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
<h1>CDC COVID-19 mortality data</h1>
<body>
<ul>
  <li><a class="active" href="http://localhost:63342/project-air/templates/index.html?_ijt=gu1qj8fhnefrjv4d9hi8a7err3">Home</a></li>
  <li><a href="http://localhost:5001/covid">covid</a></li>
  <li><a href="#http://localhost:63342/project-air/templates/data.html?_ijt=80ge6an76b3kl1r9m337qcobkr">Data</a></li>
  <li><a href="#about">About</a></li>
</ul>
</body>
</html>